h1 {
  margin-left: 300px;
  font-family: Georgia ;
}

.datos {
  margin-top: 50px;
  font-size: 60px;
  width: 300px;
}

.mifotocv {;
  width: 50px;
  height: 100px;
  padding-right: 100px
}

img {display: flex;
  flex-direction: row;
  
}

.estudios {
  display: flex: ;
  flex-direction: column-gap: ;
  justify-content: center;
}

  